// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

.imghover {
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.imghover:hover {
  transform: scale(2);
  position: relative;
  z-index: 999;
}
